
#BordaForm10 {
    position: fixed;
    background-color: transparent;
    border: 2px solid #353535;
    width: 0px;
    height: 80%;
    top: 55px;
    right: 100px;
}



#BordaForm20 {
    position: fixed;
    background-color: transparent;
    border: 2px solid #353535;
    width: 0px;
    height: 90%;
    top: 30px;
    right: 80px;
}



#BordaForm30 {
    position: fixed;
    background-color: transparent;
    border: 2px solid #353535;
    width: 0px;
    height: 80%;
    top: 55px;
    right: 50px;
}







#BordaForm100 {
    position: fixed;
    background-color: transparent;
    border: 2px solid #353535;
    width: 0px;
    height: 80%;
    top: 55px;
    left: 100px;
}



#BordaForm200 {
    position: fixed;
    background-color: transparent;
    border: 2px solid #353535;
    width: 0px;
    height: 90%;
    top: 30px;
    left: 80px;
}



#BordaForm300 {
    position: fixed;
    background-color: transparent;
    border: 2px solid #353535;
    width: 0px;
    height: 80%;
    top: 55px;
    left: 50px;
}
